.container {
    width: 575px;
      height: 525px;
    
      background-color: hsl(130, 14%, 43%);
      padding-left: 30px;
      position: relative;
      text-align: center;
      margin: auto;
  }
  
  #height,
  #weight {
    width: 150px;
    height: 25px;
    margin-top: 30px;
  }
  
  #weight-guide {
    margin-left: 75px;
    margin-top: 25px;
  }
  
  #results {
    font-size: 35px;
    margin-left: 90px;
    margin-top: 20px;
    color: white;
  }
  
  button {
    width: 150px;
    height: 35px;
    margin-left: 90px;
    margin-top: 25px;
    background-color: rgb(243, 111, 111);
    padding: 1px 30px;
    border-radius: 8px;
    color: #212121;
    text-decoration: none;
    border: 2px solid #212121;
  
    font-size: 25px;
  }
  
  h1 {
    padding-left: 15px;
    padding-top: 25px;
    background-color: burlywood;
    
  }
  
  h3 {
    background-color: aqua;
  }